<div class="d-flex flex-row mb-3 head_style">
  <div class="p-2">
    <a href="/"><img class="link" src="/img/avatar.png" /></a>
  </div>
  <div class="p-2">
    <a class="<%- akt.sg %> ex" href="/">STRONA GŁÓWNA</a>
  </div>
  <div class="p-2">
    <a class="<%- akt.uz %> ex" href="/profile">UŻYTKOWNICY</a>
  </div>
  <div class="p-2"><a class="<%- akt.kt %> ex" href="/kontakt">KONTAKT</a></div>
</div>
